/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
.container-large {
    max-width: 81.25rem;
    margin: auto;
    padding: 0 3.125rem;
}

.container {
    max-width: 67.5rem;
    margin: auto;
    padding: 6.25rem 3.125rem;
}

.subscriptions-container {
    padding: 1.25rem 1.5rem;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* BUTTONS */
.btn {
    padding: .3125rem 1rem;
    background-color: #0061ff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn.btn-white {
    background-color: #fff;
    color: #000;
    border: .0625rem solid black;
}

.btn.btn-large {
    margin: 1rem 0;
    padding: .4375rem 2.625rem;
}

/* TYPO */
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

span {
    display: inline-block;
}

hr {
    background-color: lightgray;
}

ul li {
    list-style-type: none;
}

/* HEADER */
header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: 1em;
    z-index: 10;
}

.col-left, .col-right {
    width: calc(100% / 2 - .25rem);
}

nav, .col-left img, .col-right button {
    vertical-align: middle;
}

.col-left, .col-right, nav, nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    margin: 1.25rem;
    font-weight: 500;
}

.col-right {
    text-align: right;
}
 
/* MAIN */
/* SEZIONE HERO */
.hero {
    background-color: #b4d0e7;
}

.hero .container-large {
    padding-top: 7.5rem;
}

.hero-row {
    position: relative;
    bottom: -3.125rem;
}

.hero-col-left, .hero-col-right {
    float: left;
}

.hero-col-left {
    max-width: calc(100% / 3);
}

.hero-col-right {
    max-width: calc(100% / 3 * 2);
    float: right;
}

.hero-img {
    max-height: 25rem;
    max-width: 100%;
}

.hero-btn {
    margin-top: 1.875rem;
}

.hero-col-left span {
    margin-top: .625rem;
    font-size: .75rem;
}

.hero-col-left i {
    margin-top: 2.5rem;
    font-size: 1.5625rem;
}

/* SEZIONE ABBONAMENTI */
.input {
    margin-top: 2.5rem;
}

#annuale {
    margin-left: .9375rem;
}

.subscriptions-row {
    margin-top: 1.25rem;
}

.subscriptions-row ul {
    margin-top: .9375rem;
    padding-left: 1.25rem;
}

.subscriptions-row ul li {
    font-size: .875rem;
    margin-top: 1.25rem;
    text-indent: -0.5625rem;
}

.subscriptions-col-left, .subscriptions-col-middle, .subscriptions-col-right {
    float: left;
    width: calc(100% / 3 - 2.5rem);
    border: .0625rem solid lightgray;
    min-height: 56.25rem;
}

.subscriptions-col-middle {
    margin: 0 3.75rem;
}

.member {
    border-bottom: .0625rem solid lightgray;
    text-align: center;
}

.member span {
    padding: .3125rem;
}

.subscriptions-price {
    font-weight: bold;
    margin-top: .75rem;
    margin-bottom: .3125rem;
}

.subscription-period {
    color: #667683;
}

.subscription-functions {
    margin: 1.5625rem 0;
}

.buy-link {
    font-size: .75rem;
}

.subscriptions-container hr {
    max-width: 2.5rem;
    margin: 1.5rem 0;
}

.subscriptions-info i {
    color: #0061ff;
}

.enterprise {
    margin-top: 1.25rem;
    border: .0625rem solid lightgray;
}

.enterprise-info {
    padding: 1.875rem 1.25rem;
    position: relative;
}

.enterprise-info button {
    position: absolute;
    top: 1rem;
    right: 1.25rem;
}

.enterprise-info h4 {
    margin-top: .9375rem;
}

.enterprise-info span {
    margin-top: 1.5625rem;
    font-size: .875rem;
}

/* SEZIONE TROVA PARTNER */
.partner-col-left, .partner-col-right {
    float: left;
}

.partner-col-left {
    width: 60%;
}

.partner-col-left img {
    height: 28.125rem;
}

.partner-col-right {
    width: 40%;
    margin-top: 1.5625rem;
}

.partner-col-right p, .partner-col-right button {
    margin-top: 1.25rem;
}

/* SEZIONE FUNZIONAMENTO DROPBOX */
.functions-row {
    margin-top: 1.5625rem;
}

.functions-col {
    float: left;
    width: calc(100% / 3 - 2.5rem);
    margin: 1.25rem;
}

.functions-col h3, .functions-col p {
    margin-top: 1.25rem;
}

.functions-col img {
    height: 14.375rem;
}

/* SEZIONE CLIENTI IMPORTANTI */
.discover-clients {
    margin: 1.5625rem 0;
    display: inline-block;
}

.clients-col-left, .clients-col-right {
    float: left;
    width: 25vw;
    height: 25vw;
}

.clients-col-middle {
    float: left;
    width: calc(100% - 50vw);
    height: 25vw;
    background-color: #f6f6f6;
    padding: 2.5rem 1.875rem;
    overflow: auto;
}

.clients-col-middle img {
    height: 2.5rem;
}

.clients-col-middle hr {
    margin: .9375rem 0;
    max-width: 3.75rem;
}

.clients-col-middle p {
    margin: 1.5625rem 0;
}

.square {
    width: 12.5vw;
    height: 12.5vw;
    float: left;
    position: relative;
}

.square img {
    filter: invert(100%);
    width: 6.125vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.designit {
    background-color: #a3d49c;
}

.arizona {
    background-color: #63072c;
}

.florida {
    background-color: #0393cf;
}

.topps {
    background-color: #fe1c1e;
}

.bicycle {
    background-color: #d50020;
}

.hearst {
    background-color: #b4d0e6;
}

.lonely {
    background-color: #0e2582;
}

.channel {
    background-color: #ffd930;
}

/* SEZIONE PROVA GRATUITA */
.free-trial {
    background-color: #b4d0e6;
}

.free-trial-info {
    position: relative;
}

.free-trial-info h2 {
    color: #5b0522;
}

.free-trial-info .btn {
    border: none;
    position: absolute;
    top: 5rem;
    right: 3.125rem;
}

/* SEZIONE FAQ */
.faq {
    line-height: 3.75rem;
}

.faq h3 {
    margin-bottom: 1.25rem;
}

.faq-text {
    position: relative;
}

.faq i {
   position: absolute;
   top: 1.5625rem;
   right: 1.875rem;
}

/* FOOTER */
footer {
    background-color: black;
    color: #fff;
}

.footer {
    padding-top: 4.375rem;
}

.footer ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 1.875rem;
}

.footer-col {
    float: left;
    width: calc(100% / 5);
}

.footer-col h4 {
    margin-bottom: 1.25rem;
}

.footer hr {
    max-width: 6.25rem;
    margin: 2.5rem 0;
}

.language {
    color: lightgray;
    padding-bottom: 1.25rem;
}

/* EFFETTI E ANIMAZIONI */
.subscriptions-col-left:hover, .subscriptions-col-middle:hover, .subscriptions-col-right:hover, .enterprise:hover {
    border: .125rem solid black;
}

.subscriptions-col-left:hover .member, .subscriptions-col-middle:hover .member, .subscriptions-col-right:hover .member, .enterprise:hover .member{
    border-bottom: .125rem solid black;
}

.functions-col:hover {
    transform: scale(1.2);
}

button:hover {
    transform: scale(1.1);
}

.designit:hover {
    box-shadow: inset 0 0 0 .625rem #cdebc9;
}

.arizona:hover {
    box-shadow: inset 0 0 0 .625rem #9e0c45;
}

.florida:hover {
    box-shadow: inset 0 0 0 .625rem #01b6ff;
}

.topps:hover {
    box-shadow: inset 0 0 0 .625rem #fc5757;
}

.bicycle:hover {
    box-shadow: inset 0 0 0 .625rem #f40024;
}

.hearst:hover {
    box-shadow: inset 0 0 0 .625rem #d3dfe9;
}

.lonely:hover {
    box-shadow: inset 0 0 0 .625rem #102ea9;
}

.channel:hover {
    box-shadow: inset 0 0 0 .625rem #fae173;
}
