/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
.container-large {
    max-width: 1300px;
    margin: auto;
    padding: 0 50px;
}

.container {
    max-width: 1080px;
    margin: auto;
    padding: 100px 50px;
}

.subscriptions-container {
    padding: 20px 24px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* BUTTONS */
.btn {
    padding: 5px 16px;
    background-color: #0061ff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn.btn-white {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
}

.btn.btn-large {
    margin: 16px 0;
    padding: 7px 42px;
}

/* TYPO */
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

span {
    display: inline-block;
}

hr {
    background-color: lightgray;
}

ul li {
    list-style-type: none;
}

/* HEADER */
header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: 1em;
    z-index: 10;
}

.col-left, .col-right {
    width: calc(100% / 2 - 4px);
}

nav, .col-left img, .col-right button {
    vertical-align: middle;
}

.col-left, .col-right, nav, nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    margin: 20px;
    font-weight: 500;
}

.col-right {
    text-align: right;
}
 
/* MAIN */
/* SEZIONE HERO */
.hero {
    background-color: #b4d0e7;
}

.hero .container-large {
    padding-top: 120px;
}

.hero-row {
    position: relative;
    bottom: -50px;
}

.hero-col-left, .hero-col-right {
    float: left;
}

.hero-col-left {
    max-width: calc(100% / 3);
}

.hero-col-right {
    max-width: calc(100% / 3 * 2);
    float: right;
}

.hero-img {
    max-height: 400px;
    max-width: 100%;
}

.hero-btn {
    margin-top: 30px;
}

.hero-col-left span {
    margin-top: 10px;
    font-size: 12px;
}

.hero-col-left i {
    margin-top: 40px;
    font-size: 25px;
}

/* SEZIONE ABBONAMENTI */
.input {
    margin-top: 40px;
}

#annuale {
    margin-left: 15px;
}

.subscriptions-row {
    margin-top: 20px;
}

.subscriptions-row ul {
    margin-top: 15px;
    padding-left: 20px;
}

.subscriptions-row ul li {
    font-size: 14px;
    margin-top: 20px;
    text-indent: -9px;
}

.subscriptions-col-left, .subscriptions-col-middle, .subscriptions-col-right {
    float: left;
    width: calc(100% / 3 - 40px);
    border: 1px solid lightgray;
    min-height: 900px;
}

.subscriptions-col-middle {
    margin: 0 60px;
}

.member {
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.member span {
    padding: 5px;
}

.subscriptions-price {
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 5px;
}

.subscription-period {
    color: #667683;
}

.subscription-functions {
    margin: 25px 0;
}

.buy-link {
    font-size: 12px;
}

.subscriptions-container hr {
    max-width: 40px;
    margin: 24px 0;
}

.subscriptions-info i {
    color: #0061ff;
}

.enterprise {
    margin-top: 20px;
    border: 1px solid lightgray;
}

.enterprise-info {
    padding: 30px 20px;
    position: relative;
}

.enterprise-info button {
    position: absolute;
    top: 16px;
    right: 20px;
}

.enterprise-info h4 {
    margin-top: 15px;
}

.enterprise-info span {
    margin-top: 25px;
    font-size: 14px;
}

/* SEZIONE TROVA PARTNER */
.partner-col-left, .partner-col-right {
    float: left;
}

.partner-col-left {
    width: 60%;
}

.partner-col-left img {
    height: 450px;
}

.partner-col-right {
    width: 40%;
    margin-top: 25px;
}

.partner-col-right p, .partner-col-right button {
    margin-top: 20px;
}

/* SEZIONE FUNZIONAMENTO DROPBOX */
.functions-row {
    margin-top: 25px;
}

.functions-col {
    float: left;
    width: calc(100% / 3 - 40px);
    margin: 20px;
}

.functions-col h3, .functions-col p {
    margin-top: 20px;
}

.functions-col img {
    height: 230px;
}

/* SEZIONE CLIENTI IMPORTANTI */
.discover-clients {
    margin: 25px 0;
    display: inline-block;
}

.clients-col-left, .clients-col-right {
    float: left;
    width: 25vw;
    height: 25vw;
}

.clients-col-middle {
    float: left;
    width: calc(100% - 50vw);
    height: 25vw;
    background-color: #f6f6f6;
    padding: 40px 30px;
    overflow: auto;
}

.clients-col-middle img {
    height: 40px;
}

.clients-col-middle hr {
    margin: 15px 0;
    max-width: 60px;
}

.clients-col-middle p {
    margin: 25px 0;
}

.square {
    width: 12.5vw;
    height: 12.5vw;
    float: left;
    position: relative;
}

.square img {
    filter: invert(100%);
    width: 6.125vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.designit {
    background-color: #a3d49c;
}

.arizona {
    background-color: #63072c;
}

.florida {
    background-color: #0393cf;
}

.topps {
    background-color: #fe1c1e;
}

.bicycle {
    background-color: #d50020;
}

.hearst {
    background-color: #b4d0e6;
}

.lonely {
    background-color: #0e2582;
}

.channel {
    background-color: #ffd930;
}

/* SEZIONE PROVA GRATUITA */
.free-trial {
    background-color: #b4d0e6;
}

.free-trial-info {
    position: relative;
}

.free-trial-info h2 {
    color: #5b0522;
}

.free-trial-info .btn {
    border: none;
    position: absolute;
    top: 80px;
    right: 50px;
}

/* SEZIONE FAQ */
.faq {
    line-height: 60px;
}

.faq h3 {
    margin-bottom: 20px;
}

.faq-text {
    position: relative;
}

.faq i {
   position: absolute;
   top: 25px;
   right: 30px;
}

/* FOOTER */
footer {
    background-color: black;
    color: #fff;
}

.footer {
    padding-top: 70px;
}

.footer ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 30px;
}

.footer-col {
    float: left;
    width: calc(100% / 5);
}

.footer-col h4 {
    margin-bottom: 20px;
}

.footer hr {
    max-width: 100px;
    margin: 40px 0;
}

.language {
    color: lightgray;
    padding-bottom: 20px;
}

/* EFFETTI E ANIMAZIONI */
.subscriptions-col-left:hover, .subscriptions-col-middle:hover, .subscriptions-col-right:hover, .enterprise:hover {
    border: 2px solid black;
}

.subscriptions-col-left:hover .member, .subscriptions-col-middle:hover .member, .subscriptions-col-right:hover .member, .enterprise:hover .member{
    border-bottom: 2px solid black;
}

.functions-col:hover {
    transform: scale(1.2);
}

button:hover {
    transform: scale(1.1);
}

.designit:hover {
    box-shadow: inset 0 0 0 10px #cdebc9;
}

.arizona:hover {
    box-shadow: inset 0 0 0 10px #9e0c45;
}

.florida:hover {
    box-shadow: inset 0 0 0 10px #01b6ff;
}

.topps:hover {
    box-shadow: inset 0 0 0 10px #fc5757;
}

.bicycle:hover {
    box-shadow: inset 0 0 0 10px #f40024;
}

.hearst:hover {
    box-shadow: inset 0 0 0 10px #d3dfe9;
}

.lonely:hover {
    box-shadow: inset 0 0 0 10px #102ea9;
}

.channel:hover {
    box-shadow: inset 0 0 0 10px #fae173;
}
