/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
.container-large {
    max-width: 1300px;
    margin: auto;
}

.container {
    max-width: 1080px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* BUTTONS */
.btn {
    padding: 10px;
    background-color: #0061ff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn.btn-white {
    background-color: #fff;
    color: #000;
    border: 1px solid black;
}

.btn.btn-large {
    padding: 10px 20px;
}

/* TYPO */
body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */

/* MAIN */

/* FOOTER */
